@{
    ViewBag.Title = "EditSignup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Crumbs
{
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home", new { area = "Admin" })">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="@Url.Action("Index", "Signups", new { area = "Admin" })">Signups</a> <span class="divider">/</span>
        </li>
        <li class="active">
            Edit Signup
        </li>
    </ul>
}
<div ng-app="signupManagementApp" ng-controller="myApp">
    <div class="page-header">
        <h2>Signup {{signup.Id}} Details</h2>
    </div>

    <div class="row span3 offset1">

        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr><th>Academic Year</th><td>{{signup.AcademicYear}}</td></tr>
                <tr><th>Date</th><td>{{signup.Date}}</td></tr>
                <tr><th>Close Date</th><td>{{signup.CloseDate}}</td></tr>
                <tr><th>Closed</th><td>{{signup.CloseDate}}</td></tr>
                <tr><th>Merge Reserve</th><td>{{signup.MergeReserve}}</td></tr>
                <tr><th>Allow Multiple Signups</th><td>{{signup.AllowMultipleSignups}}</td></tr>
                <tr><th>Description</th><td>{{signup.Description}}</td></tr>
                <tr><th>Group</th>
                    <td>
                        <select class="form-control" ng-model="selectedGroup" ng-options="signup.Group.ID as signup.Group.Name for application in applications" style="width: 200px; float: left; margin-right: 10px;">
                            <option value="">Select an Application</option>
                        </select>        
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-responsive" ng-repeat="slot in signup.Slots">
            <tbody>
                <tr><th>Description</th><th>Main Places</th><th>Reserve Places</th><th>Interested Places</th><th>Enabled</th><th>Time</th><th>Merge Reserve</th></tr>
                <tr>
                    <td>{{slot.Description}}</td>
                    <td>{{slot.PlacesAvailable}}</td>
                    <td>{{slot.ReservePlaces}}</td>
                    <td>{{slot.InterestedPlaces}}</td>
                    <td>{{slot.Enabled}}</td>
                    <td>{{slot.Time}}</td>
                    <td>{{slot.MergeReserve}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="control-group" style="clear:both;">
        <div class="controls">
            <button type="submit" class="btn btn-info">Save</button> <a href="@Url.Action("Index")" class="btn">Cancel</a>
        </div>
    </div>
</div>
@section Scripts
{
   

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
    <script src="~/AngularJs/Services/SignupServices.js"></script>
    <script src="~/AngularJs/Apps/SignupManagement/SignupManagementApp.js"></script>
}
